.navbar ul {
  list-style: none;
  overflow: hidden;
  top: 10px;
  width: 100%;
}

.navbar ul li {
  display:inline-flex;
  flex-direction: column;
  margin: 10px;
  font-size: 40px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.navbar ul li a:hover {
  font-weight: bold;
}
.blue-text {
  color: white;
  font-weight: bold;
  font-size: 60px;
  position:relative;
  left:680px;
  top:300px;
}

input{
  width: 30%;
  padding: 13px;
  padding-Left: 45px;
  padding-right: 60px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  position: relative;
  left:520px;
  top:270px;
}


button{
  margin: 0 5px;
  padding: 12px 20px;
  color: #555;
  font-size:14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: none;
  position: relative;
  left:520px;
  top:270px;
}

.error {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  background:pink;
}

a {
color: white;
text-decoration: none;
}

#search-result{
margin-top: 300px;
}

h4{
  color: white;
  text-align: center;
  margin-top: 280px;
}


#search-result article{
  border: 5px solid white;
  margin:15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 33.3%;
}

#search-result article p {
  margin-left: 10px;
}
#search-result article h3 {
  margin-left: 5px;
}

html, body {
  height: 100%;
  width: 100%;
}